


<!--Footer-->
<footer class="page-footer text-center font-small wow fadeIn">

  <!--Call to action-->
  <div class="pt-4">
    <a class="btn btn-outline-white" href="/contact" role="button">Contact us
      <i class="fas fa-envelope ml-2"></i>
    </a>
  </div>
  <!--/.Call to action-->

  <hr class="my-4">

  <!-- Social icons -->
  <div class="pb-4">
    <a href="https://www.facebook.com/gotopiecesgames/" target="_blank">
      <i class="fab fa-facebook-f mr-3"></i>
    </a>

    <a href="https://www.instagram.com/gotopiecesgames/" target="_blank">
      <i class="fab fa-instagram mr-3"></i>
    </a>

   
  </div>
  <!-- Social icons -->

  <!--Copyright-->
  <div class="footer-copyright py-3">
    © 2019 Copyright:
    <a href="#"> gotopiecesgames.com </a>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->
