<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
    <div class="container margin-short">

      <!-- Brand -->
      <div >
      <a  routerLink="/home">
        <img src="/assets/images/logo-white.png" alt="logo" style="width: 100px;">
      </a></div>

      <!-- Collapse -->
      <button #navbarToggler class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a (click)="collapseNav();" class="nav-link strong" routerLink="/home">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link strong margin-short" routerLink="/games">Our games</a>
          </li>
          <li class="nav-item">
            <a (click)="collapseNav();" class="nav-link strong margin-short" routerLink="aboutus">About us</a>
          </li>
          <li class="nav-item">
            <a (click)="collapseNav();" class="nav-link strong margin-short mr-100" routerLink="contact">Contact</a>
          </li>
        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">


          <li class="nav-item">
              <a  href="https://www.facebook.com/gotopiecesgames/" class="nav-link" target="_blank">
                <i class="fab fa-facebook-f fa-2x"></i>
              </a>
            </li>
            <li class="nav-item">
              <a  href="https://www.instagram.com/gotopiecesgames/" class="nav-link" target="_blank">
                <i class="fab fa-instagram fa-2x"></i>
              </a>
            </li>
        </ul>

      </div>

    </div>
  </nav>
  <!-- Navbar -->

