<!-- Section: Features v.3 -->
<section class="my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">Go To Pieces Games is a board game publisher on the Norwegian west coast.</h2>
  <!-- Section description -->
  <p class="lead grey-text text-center w-responsive mx-auto mb-5">
    "Our aim is gathering people to share epic board game adventures.
    <br>To achieve our goal, we focus on quality and design.
    We will launch our first board game, Fjordar, in 2020.."</p>



</section>
<!-- Section: Features v.3 -->
