<!-- Section: Features v.3 -->
<section class="my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">Go To Pieces Games is a board game publisher on the Norwegian west coast.</h2>
    <!-- Section description -->
    <p class="lead grey-text text-center w-responsive mx-auto mb-5"> 
      "Our aim is gathering people to share epic board game adventures. 
      <br>To achieve our goal, we focus on quality and design. 
      We will launch our first board game, Fjordar, in 2020.."</p>
  
      <hr class="my-5">
      <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">Fjordar is coming soon...</h2>
    <!-- Section description -->


    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-5 text-center text-lg-left">
        <img class="img-fluid" src="/assets/images/fjornar.jpg" alt="Sample image" style="width: 80%; height: auto;">
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-7" style="margin-top:40px">
  
        <!-- Grid row -->
        <div class="row mb-3">
  
          <!-- Grid column -->
          <div class="col-1">
            <i class="fas fa-share fa-lg indigo-text"></i>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-xl-10 col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Strategy</h5>
            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad minima veniam,
              quis nostrum exercitationem ullam. Reprehenderit maiores aperiam assumenda deleniti hic.</p>
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row -->
  
        <!-- Grid row -->
        <div class="row mb-3">
  
          <!-- Grid column -->
          <div class="col-1">
            <i class="fas fa-share fa-lg indigo-text"></i>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-xl-10 col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Legendary</h5>
            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad minima veniam,
              quis nostrum exercitationem ullam. Reprehenderit maiores aperiam assumenda deleniti hic.</p>
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row -->
  
        <!--Grid row-->
        <div class="row">
  
          <!-- Grid column -->
          <div class="col-1">
            <i class="fas fa-share fa-lg indigo-text"></i>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-xl-10 col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Glory</h5>
            <p class="grey-text mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad minima
              veniam, quis nostrum exercitationem ullam. Reprehenderit maiores aperiam assumenda deleniti hic.</p>
          </div>
          <!-- Grid column -->
  
        </div>
        <!--Grid row-->
  
      </div>
      <!--Grid column-->
  
    </div>
    <!-- Grid row -->
  
  </section>
  <!-- Section: Features v.3 -->
