<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Slides-->
  <div class="carousel-inner" role="listbox"> 
    <div class="carousel-item active">
      <div class="view slider-img fjord">
        
        <div class="logo">
          <img src="/assets/images/logo.png" alt="logo"  >
        </div>
        <div class="mask rgba-black-light" style="z-index: -1;"></div>
        <div class="carousel-caption-2 container">
          
            <h3 class="h3-responsive" style="line-height: 1.9; z-index: 10; display: block;" >Our aim is to gather people for sharing epic board game adventures.  We belive board games have a great potential to convey history and culture.
                Go To Pieces Games was founded april 2019 and we will launch our first board game, Fjordar, in 2020. </h3>
          
          
          
        </div>
      </div>
     
    </div>
</div>
<!--/.Carousel Wrapper-->
</div>
