.gtp-cover {
	line-height: 1.2;
  /*height: 100%;
    background: #ffffff url('../../assets/images/fjord.png') no-repeat center top;
    height: 110px; */
    margin-top: 0;
    height: 100%;
    background-image: url('../../assets/images/fjord.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    background-size: cover;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 62%;
}

.relative{
  position: relative;
  height: 200px;
  width: 100%;
}

.vertical-align {
  display: table-cell;
  height: 300px;
  padding: 10px;
  border: 3px dashed #1c87c9;
  vertical-align: middle;
}

.border-show {
  border: #1c87c9;
  border-style: solid;
}

.logo{
  text-align: center;
  margin-top: 90px;
  margin-bottom: 20px;
}

.v-middle {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.logo img
{
    display: inline-block;
    padding-top: 100px;
    /*padding-bottom: 50px;*/
    width: 300px;
}

.text-cover2 {
  display: block;
  line-height: 1.9;
  z-index: 10;
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
}

.text-cover {
  line-height: 1.9;
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
}



/**********************************
Media Queries
***********************************/
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1601px) {
  .logo{
      text-align: center;
  }

  .logo img
  {
      display: inline-block;
      padding-top: 120px;
      width: 550px;
  }
}

.gtp-text-padding {
  padding-top: 50px;
}

/* ##Device = Laptops, Desktops ##Screen = B/w 1025px to 1280px */
@media (min-width: 1281px) and (max-width: 1600px) {
  .logo img
  {
      display: inline-block;
      padding-top: 120px;
      width: 350px;
  }
}

/* ##Device = Tablets, Ipads (portrait) ##Screen = B/w 768px to 1024px */
@media (min-width: 1025px) and (max-width: 1280px) {
  .logo img
  {
      display: inline-block;
      padding-top: 120px;
      width: 350px;
  }
}

/* ##Device = Tablets, Ipads (portrait) ##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
  .logo img
  {
      display: inline-block;
      padding-top: 120px;
      width: 350px;
  }
}

/* ##Device = Tablets, Ipads (landscape) ##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .logo img
  {
      display: inline-block;
      padding-top: 120px;
      width: 350px;
  }

  .text-cover {
      display: block;
      line-height: 1.5;
      z-index: 10;
      font-size: 1.2rem;
  }
}

/* ##Device = Low Resolution Tablets, Mobiles (Landscape) ##Screen = B/w 481px to 767px */
@media (min-width: 481px) and (max-width: 767px) {

  .logo img
  {
      display: inline-block;
      padding-top: 90px;
      width: 350px;
  }

  .text-cover {
      display: block;
      line-height: 1.5;
      z-index: 10;
      font-size: 1.2rem;
  }
}

/* ##Device = Most of the Smartphones Mobiles (Portrait)
   ##Screen = B/w 320px to 479px */
@media (min-width: 320px) and (max-width: 480px) {
  .logo img
  {
      display: inline-block;
      padding-top: 90px;
      width: 250px;
  }

  .text-cover {
      display: block;
      line-height: 1.2;
      z-index: 10;
      font-size: 1rem;

  }
}

@media (max-width: 319px) {
  .logo img
  {
      display: inline-block;
      padding-top: 90px;
      width: 250px;
  }

  .text-cover {
      display: block;
      line-height: 1;
      z-index: 10;
      font-size: .9rem;
  }
}
