<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Slides-->
  <div class="carousel-inner" role="listbox"> 
    <div class="carousel-item active">
      <div class="view slider-img fjord">
        <div class="logo">
          <img src="/assets/images/logo.png" alt="logo" width="350px">
        </div>
        <div class="mask rgba-black-light"></div>
      </div>
      <img src="/assets/images/logo.png" alt="">
      <div class="carousel-caption">
        <h3 class="h3-responsive">We are Board games designers</h3>
        <p>From Bergen</p>
      </div>
    </div>
</div>
<!--/.Carousel Wrapper-->
</div>
