.logo{
    text-align: center;
}

.logo img
{
    display: inline-block;
    padding-top: 200px;
}


.slider-img {
	line-height: 1.2;
    height: 100%;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.fjord {
    background: #ffffff url('../../assets/images/fjord.jpg') no-repeat center top;
}


@media screen and (max-width: 1500px) {
    .carousel-caption h3{
        vertical-align: text-top;

    }

    .logo img{
        padding-top: 120px;
        width: 300px;
    }
}

@media screen and (max-with: 500px) {
    .logo img{
        padding-top: 200px
    }
}

