<div class="content gtp-cover">
    <div class="container">
      <div class="row">
        <div class="logo center">
          <img class="test" src="/assets/images/logo-white.png" alt="logo">
        </div>
        <div class="relative gtp-text-padding">
          <p class="text-cover v-middle">Our aim is to gather people for sharing epic board game adventures.  We belive board games have a great potential to convey history and culture.
              Go To Pieces Games was founded april 2019 and we will launch our first board game, Fjordar, in 2020. </p>
        </div>
      </div>
    </div>
  </div>
