@font-face {
    font-family: frisianus;
    src: url(../../assets/fonts/FrisianusOT.otf);
  }


h1 {
        box-sizing: border-box;
        margin: 20px;
        padding: 100px;
        font-family: 'frisianus';

}