<div id="up"></div>
<app-news-cover></app-news-cover>

<div class="container">

<!-- Section: Blog v.4 -->
<section class="my-5">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-12">
        <!-- Card -->
        <div class="card card-cascade wider reverse">
          <!-- Card content -->
          <div class="card-body card-body-cascade text-center">
            <!-- Title -->
            <h2 class="font-weight-bold"><a>RegnCon</a></h2>
            <!-- Data -->
            <p>Written by <a><strong>Kristine Eide</strong></a>, 16/10/2019</p>
          </div>
          <!-- Card content -->
          <!-- Card image -->
          <div class="view view-cascade overlay">
            <img class="card-img-top" src="../../../assets/images/rencon.svg" alt="Sample image">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>

          </div>
          <div class="mt-5 card-body card-body-cascade">

          <h2 class="h2-responsive font-weight-bold text-center my-5"><a>RegnCon</a></h2><br>
          <p class="lead grey-text w-responsive mx-auto mb-5">
            This past weekend, GotoPiecesGames attended our local gaming convention, RegnCon XXVII for the first time.
            RegnCon is a Norwegian three day Convention that focus on role playing games, miniature and board games,
            and we were invited to playtest and show Fjordar to fellow board gamers and friends. During its´ 26 first years,
            RegnCon was held in a local school, but this year the Convention had taken a big step upwards, and moved into a
            fancy conference hotel. This was much appreciated with free popcorn, ice cream, sweet pastry and coffee that
            helped on the, at times, low blood sugar after hours of playing. The organizers had taken the complete board
            game collection from the Bergen library for people to play, in addition to people bringing their own games.
            As the evening evolved we could hear the buzz from local board gamers playing games in many conference rooms,
            and it was almost like being in a conference room during SPIEL, Essen.  <br><br>

            Since we have played Fjordar non-stop for the past weeks and months, we decided to play something else for a
            change, and started the weekend off with a 5 player game of Terraforming Mars with expansions. Maybe not the
            quickest game we could have picked, but it’s definitively one of our favourite games and it was great to just
            play for fun again! <br><br>

            From 10 am on Saturday, we had people waiting to try Fjordar, and we got some really useful feedback that we
            will use in the further game development. Thank you all so much! People were intrigued by the theme as the Civil
            War in Norway is not something Norwegians know much of. We also got really good feedback on the ”push your luck”
            combat system, the modular, asymmetric, 3D game board and the church track. We see that people enjoy building and
            even more, burning churches! <br><br>

            We got to play some other games during the weekend as well; Eclipse, Black Out Hong Kong, Newton, Robin Hood and
            Arkham Horror. We also got to try an old classic deduction game, Secret Hitler. For some reason, none of us had
            played it before, but this is definitely a game we want to play again!
             <br>

             Our local television company, TV Vest visited RegnCon on Sunday and made a really nice story about RegnCon and
             peoples´ growing interest in analog gaming. You can see it here <a href="https://video.tvvest.no/ser-en-stor-oppsving-for-analoge">Video Link</a> (in Norwegian).  </p>

            <br><br>






          <br><br>
















        </div>
        <!-- Card -->
   <!-- Excerpt -->


        </div>


      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->



  </section>
  <!-- Section: Blog v.4 -->

</div>
