  <!--Main layout-->
  <main>
    <div class="container">
        <hr class="mb-5">
      <app-main-features1></app-main-features1>
      <app-main-team></app-main-team>
      <hr class="mb-5">
      <app-main-comingsoon></app-main-comingsoon>
      <hr class="mb-5">
      <app-partial-news></app-partial-news>
      <hr class="mb-5">
    </div>
    <app-partial-newsletters></app-partial-newsletters>
    
    <div class="container">
        <hr class="mb-5">
        
      
      <app-contact></app-contact>
      <hr class="mb-5">
    </div>
    
  </main>
  <!--Main layout-->
