<!-- Section: Blog v.4 -->
<section class="my-5">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12">

        <!-- Card -->
        <div class="card card-cascade wider reverse">

          <!-- Card image -->
          <div class="view view-cascade overlay">
            <img class="card-img-top" src="../../../assets/images/about-team.png" alt="Sample image">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>


        </div>
        <!-- Card -->
        <hr class="my-5">
        <!-- Excerpt -->
        <div class="mt-5 text-justify lead grey-text mx-auto">

          <p>Our aim is gathering people to share epic board game adventures. To achieve our goal, we focus on quality and design. Our board games are beautiful and thoughtful, making sure that great design adds quality to the game mechanics.

          <br><br> We believe board games have great potential to convey history and culture, and spend a lot of time researching. It is important to us that players get a credible and thorough story, that draws them into the game and leaves an impression.

          <br><br>As far as possible, we create characters and game mechanics that reflect the historic facts. In an age where human activity leaves increasing marks on our planet, we try to find sustainable solutions in our production, by reducing materials and transport, focus on quality and encourage our customers to repair and reuse.

          </p>


        </div>

      </div>
      <!-- Grid column -->

    </div>



    <hr class="mb-5 mt-4">

  </section>
  <!-- Section: Blog v.4 -->
