<div id="up"></div>
<app-news-cover></app-news-cover>

<div class="container">

<!-- Section: Blog v.4 -->
<section class="my-5">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-12">
        <!-- Card -->
        <div class="card card-cascade wider reverse">
          <!-- Card content -->
          <div class="card-body card-body-cascade text-center">
            <!-- Title -->
            <h2 class="font-weight-bold"><a>Game box illustration</a></h2>
            <!-- Data -->
            <p>Written by <a><strong>Kristine Eide</strong></a>, 29/09/2019</p>
          </div>
          <!-- Card content -->
          <!-- Card image -->
          <div class="view view-cascade overlay">
            <img class="card-img-top" src="../../../assets/images/fjordar-cover-fb.png" alt="Sample image">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <div class="mt-5 card-body card-body-cascade">

          <h2 class="h2-responsive font-weight-bold text-center my-5"><a>Game box illustration</a></h2><br>
          <p class="lead grey-text w-responsive mx-auto mb-5">
              Choosing the right artist to create the best illustration for the game box is really important and something
              we have spent a lot of time on. We decided to go with the talented Tomas Duchek. <br><br>

              We wanted the style to remind you somewhat of the Norwegian national romantics of the 1800s with reference to Hans Gude,
              one of Norway´s foremost landscape painters from the 19th century.
              We had a really good process with Tomas where we sent him sketches along with reference photos of Norwegian fjords,
              stave churches and other medieval buildings.
              We also wanted the box cover to evoke associations to an album cover for a Norwegian metal band. <br><br>

              It was important for us that Fjordar should not look like a Viking game, since the period of the
              Norwegian civil war (1130 to 1240) is roughly 100 years after the viking age ended. <br><br>

              We got the art from Tomas this week and we have already gotten some really good feedback on it on social media along with
              useful input on how to make the logo easier to read. We look forward to working more with Tomas later when the rules
              of the game have been finally decided upon and he can start to create the illustrations for the character cards. <br>

              Last week we ordered boxes with the new illustration from Boardgamemakers and we are so excited to get our hands
              on them and to show them off on the upcoming RegnCon and SPIEL 2019!

            <br><br>


          </p>



          <br><br>
















        </div>
        <!-- Card -->
   <!-- Excerpt -->


        </div>


      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->



  </section>
  <!-- Section: Blog v.4 -->

</div>
