<div id="up"></div>
<app-news-cover></app-news-cover>

<div class="container">

<!-- Section: Blog v.4 -->
<section class="my-5">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12">

        <!-- Card -->
        <div class="card card-cascade wider reverse">



          <!-- Card content -->
          <div class="card-body card-body-cascade text-center">

            <!-- Title -->
            <h2 class="font-weight-bold"><a>UK GAMES EXPO</a></h2>
            <!-- Data -->
            <p>Written by <a><strong>Kristine Eide</strong></a>, 03/06/2019</p>

          </div>
          <!-- Card content -->
          <!-- Card image -->
          <div class="view view-cascade overlay">
            <img class="card-img-top" src="../../../assets/images/expo_games.png" alt="Sample image">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <div class="mt-5 card-body card-body-cascade">

          <h2 class="h2-responsive font-weight-bold text-center my-5"><a>UK GAMES EXPO</a></h2><br>
          <p class="lead grey-text w-responsive mx-auto mb-5">One of the coolest parts of our hobby is to try new games in combination with
            meeting new people and sometimes also travel to new places.
            When we also got the chance to playtest and demo Fjordar it was an easy choice to book tickets to Birmingham.

            This was Tales first visit to a board game EXPO but definitely not the last! <br><br>

            We were lucky enough to be invited to demo our game at a stand with other Norwegian Tabletop publishers such as Tompet Games, Equity and Aegir Games. Thanks to the wonderful Playtest volunteers at UKGamesExpo we also got to run some playtests in their designated area. This way we got a lot of useful input and feedback.

          </p><br><br>
          <h4 class="font-weight-bold">What was the best UKGAMES EXPO experience?</h4><br>
          <p class="lead"><b>Frode: </b>Our first time trying out Fjordar on a international audience and meeting all the wonderful playtesters</p>
          <p class="lead"><b>Tale: </b>Apart from receiving feedback from our playtesters it must be the wonderful game library that the UKGAMES EXPO offered during the evening after closing hour.
        </p>
          <p class="lead"><b>Kristine: </b>All of the above plus meeting  Tom Vasel and Ignacy Trzewiczek</p><br><br>
          <h4 class="font-weight-bold">Best game played at UKGAMES EXPO?</h4><br>
          <p class="lead"><b>Kristine: </b>Villagers and Lords of Waterdeep.</p>
          <p class="lead"><b>Frode: </b>I have to agree with Kristine regarding Villagers. I also really enjoyed Orcs Orcs Orcs that we borrowed from the game library.
            </p>
          <p class="lead"><b>Tale: </b>Forest Dragon and Donning the purple</p>
















        </div>
        <!-- Card -->
   <!-- Excerpt -->


        </div>


      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->



  </section>
  <!-- Section: Blog v.4 -->

</div>
