    <!-- Section: Blog v.1 -->
<section class="my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">Fjordar</h2>
  <!-- Section description -->
  <p class="text-center w-responsive mx-auto mb-5 text-fj-h2">"Fjordar is an epic tactical strategy game for 2 to 6 players set in the Norwegian civil war between 1130 and 1240. The game features a fully modular cardboard 3D-terrain which lets the players have a new and unique experience every time they play."</p>
  <hr class="my-5">
  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-5">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
        <img class="img-fluid" src="./../../../../assets/images/fjordar_f.png" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-7 col-fj">

     
      <!-- Excerpt -->
      <p class="text-fj-p"> In Fjordar you take the role as one of several powerful contenders in the war. You win the game by establishing supplylines across the landscape, retrieve your heirs which are spread all over the land, recruit new soldiers from the villages, build (or burn) stave churches, and of course defeat your enemies in battle!</p>
      <!-- Post data -->
     
      <!-- Read more button -->
      

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

  <hr class="my-5">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-7">

      <!-- Excerpt -->
      <p class="text-fj-p">For all it´s epicness Fjordar is a fast-played game that is quick to set up, around 30 minutes per player plus 10 minute for setup. Game length can also be set to be longer for a truly epic norwegian civil war-experience..</p>
      <!-- Post data -->
     

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-5">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2">
        <img class="img-fluid" src="./../../../../assets/images/fjordar_g.png" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

  <hr class="my-5">



</section>
<!-- Section: Blog v.1 -->