
    <!-- Section: Blog v.1 -->
<section class="my-5">


    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">Fjordar</h2>
    <!-- Section description -->
    <p class="lead grey-text w-responsive mx-auto mb-5">Fjordar is an epic, historical wargame for up to six players set in the Norwegian civil war that raged from 1130 to 1240.
      At the start of the game, you take on the role of one of the Heirs of Sigurd Jorsalfare, vying for power in the torn kingdom.
      You add new generations of pretenders to your hand, as history unfolds quickly on the board in front of you. <br><br></p>

    <!-- Grid row -->
    <div class="row">
    <!-- Grid column -->
    <div class="col-lg-12">
      <!-- Featured image -->

        <img class="img-fluid fj-img-center" src="./../../../../assets/images/fjordar_f.svg" alt="Sample image">
        <a><div class="mask rgba-white-slight"></div></a>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-12 col-fj">

      <!-- Read more button -->


    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->




  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-7">



    </div>
    <!-- Grid column -->

    <!-- Grid column -->
  </div>

<div class="row text-center">
    <div class="col-lg-12 ">

      <!-- Featured image -->

          <p class="lead grey-text w-responsive mx-auto mb-5">
              The game features a unique movement system, a quick press-your-luck combat system and a fully modular 3D terrain, which lets the players have a new and unique experience every time they play.
              To achieve victory, it's important to figure out if you will be an ally or enemy of the Church, establish control over key locations to gain taxes and build longships, gain Glory in battle to upgrade your Combat Deck, and establish safe routes between castles to get your Heirs safely home so they can continue the fight!</p>


        <img class="img-fluid fj-img-center" src="./../../../../assets/images/fjordar_g.svg" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->



  <!-- Grid row -->

  <hr class="my-5">




</section>
<!-- Section: Blog v.1 -->

