<div id="up"></div>
<app-news-cover></app-news-cover>

<div class="container">

<!-- Section: Blog v.4 -->
<section class="my-5">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12">

        <!-- Card -->
        <div class="card card-cascade wider reverse">



          <!-- Card content -->
          <div class="card-body card-body-cascade text-center">

            <!-- Title -->
            <h2 class="font-weight-bold"><a>THE BEGINNING</a></h2>
            <!-- Data -->
            <p>Written by <a><strong>Kristine Eide</strong></a>, 19/04/2019</p>

          </div>
          <!-- Card content -->
          <!-- Card image -->
          <div class="view view-cascade overlay">
            <img class="card-img-top" src="../../../assets/images/website.png" alt="Sample image">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <div class="mt-5 card-body card-body-cascade">

          <h2 class="h2-responsive font-weight-bold text-center my-5"><a>THE BEGINNING</a></h2><br>
          <p class="lead grey-text w-responsive mx-auto mb-5">We have been friends for almost 20 years. Frode has been into board games for almost as long, and was the one who introduced us to the world of modern board games, with wooden cubes, hexes and plastic miniatures. After he convinced Kristine that going to SPIEL 2015 was a must, there was no turning back. One cold night in January while drinking beer, we decided that it would be fun to found a board game publisher! And a few months later, on the 10th of April, Go to Pieces Games was officially founded. <br><br>


          </p><br><br>
          <h4>Why did we choose Go to Pieces Games as our name?</h4><br>
          <p>We are a board game publisher from Bergen and we wanted our name to reflect our local connection and at the same time work internationally. In Bergen “Gå te pises” is an expression that probably comes from the English “Go to Pieces” and describes something going really shitty/to hell. </p>
          <br><br>
          <h4>Frode, why did you choose the Norwegian Civil war as a topic for your game?</h4><br>
          <p>That was during Christmas, when I was reading Tore Skeies fantastic books about the Middle Ages. In his book Alv Erlingson there was a brief account about the Norwegian Civil war and I wanted to know more about it. The further I read the more intrigued I got.  It is also a topic most Norwegians know very little about </p>

          <h4>What inspires you?</h4><br>
          <p>Mainly books I read says Frode, while Tale, sitting next to him, makes nerdy faces.</p><br><br>

          <h4>What type of games are your favorite games?</h4><br>
          <p>We like epic games that tells a story and has a lot of player interaction. Scythe is a good example of a game the three of us enjoys a lot. If we would have to choose one game each that would be:</p>
          <br>
          <p><b>Tale: </b>at the moment I’m quite addicted to Outer Rim, so I cant think of any other game to choose.</p>
          <p><b>Frode: </b>Root, Terraforming Mars and Forbidden Stars. That´s one game, right?</p>
          <p><b>Kristine: </b>Forbidden Stars. I do enjoy a good 4X game. Oh and Imperial Settlers</p><br>

          <h4>What are your dreams?</h4><br>
          <p>That Fjordar will be a huge success and that we can continue making board games ☺</p><br><br>
















        </div>
        <!-- Card -->
   <!-- Excerpt -->


        </div>


      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->



  </section>
  <!-- Section: Blog v.4 -->

</div>
