<div class="masterhead">
  <div class="container " style="height:100%;">
    <div class="row fjordar-top "></div>
    <div class="row fjordar-middle ">
        <div class="col-8 fjordar-middle-left ">
            <img src="/assets/images/fjordar-logo.svg" alt="">
        </div>

        <div class="col-4 fjordar-middle-right ">
            <img src="/assets/images/fjordar-text.svg" alt="">
        </div>
    </div>
    <div class="row fjordar-bottom">
        <div class="col-12 fjordar-bottom-middle">
            <img src="/assets/images/fjordar-text-sm.svg" alt="">
        </div>
    </div>
</div>
</div>
