<div class="masterhead">
  <div class="container " style="height:100%;">
    <div class="row fjordar-top "></div>
    <div class="row fjordar-middle ">
        <div class="col-6 fjordar-middle-left">
            <img src="/assets/images/fjordar-logo.png" alt="">
        </div>
        <div class="col-2 fjordar-middle-middle"></div>
        <div class="col-4 fjordar-middle-right">
            <img src="/assets/images/fjordar-text.png" alt="">
        </div>
    </div>
    <div class="row fjordar-bottom">
        <div class="col-12 fjordar-bottom-middle">
            <img src="/assets/images/fjordar-text-sm.png" alt="">
        </div>
    </div>
</div>
</div>
