<nav class="navbar fixed-top bg-dark gtp-adm-nav">
  <div class="container-fluid">
    <div class="logo">
      <a href="admin">
        <img src="/assets/images/logo-white.svg" alt="" class="logo">
      </a>
      <span class="strong ml-4">Admin Panel</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</nav>
