.image-top {
  background: #ffffff url('../../assets/images/fjord-top.png') no-repeat center top;
  height: 110px;
}

/* ##Device = Low Resolution Tablets, Mobiles (Landscape) ##Screen = B/w 481px to 767px */
@media (min-width: 481px) and (max-width: 767px) {

}

/* ##Device = Most of the Smartphones Mobiles (Portrait)
   ##Screen = B/w 320px to 479px */
@media (max-width: 480px) {
  .image-top {
    height: 100px;
  }
}




