<hr class="my-5">

<!--Section: Main features & Quick Start-->
 <section>

  <h3 class="h3 text-center mb-5">How to play</h3>

  <!--Grid row-->
  <div class="row wow fadeIn">

    <!--Grid column-->
    <div class="col-lg-6 col-md-12 px-4">

      <!--First row-->
      <div class="row">
        <div class="col-1 mr-3">
          <i class="fas fa-code fa-2x indigo-text"></i>
        </div>
        <div class="col-10">
          <h5 class="feature-title">A lot of fun</h5>
          <p class="grey-text">omnis iste natus error sit voluptatem accusantium 
            doloremque laudantium, totam rem aperiam, 
            eaque ipsa quae ab illo inventore veritat.</p>
        </div>
      </div>
      <!--/First row-->

      <div style="height:30px"></div>

      <!--Second row-->
      <div class="row">
        <div class="col-1 mr-3">
          <i class="fas fa-book fa-2x blue-text"></i>
        </div>
        <div class="col-10">
          <h5 class="feature-title">Detailed documentation</h5>
          <p class="grey-text">omnis iste natus error sit voluptatem accusantium doloremque 
            laudantium, totam rem aperiam, eaque ipsa quae ab illo 
            inventore veritat.
          </p>
        </div>
      </div>
      <!--/Second row-->

      <div style="height:30px"></div>

      <!--Third row-->
      <div class="row">
        <div class="col-1 mr-3">
          <i class="fas fa-graduation-cap fa-2x cyan-text"></i>
        </div>
        <div class="col-10">
          <h5 class="feature-title">Game tutorials</h5>
          <p class="grey-text">omnis iste natus error sit voluptatem 
            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo 
            inventore veritat</p>
        </div>
      </div>
      <!--/Third row-->

    </div>
    <!--/Grid column-->

    <!--Grid column-->
    <div class="col-lg-6 col-md-12">

      <p class="h5 text-center mb-4">Watch our "5 min Quick Start" tutorial</p>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4RxqzBA_HRs" allowfullscreen></iframe>
      </div>
    </div>
    <!--/Grid column-->

  </div>
  <!--/Grid row-->

</section>
<!--Section: Main features & Quick Start-->


