<div id="up"></div>
<app-news-cover></app-news-cover>

<div class="container">

<!-- Section: Blog v.4 -->
<section class="my-5">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-12">
        <!-- Card -->
        <div class="card card-cascade wider reverse">
          <!-- Card content -->
          <div class="card-body card-body-cascade text-center">
            <!-- Title -->
            <h2 class="font-weight-bold"><a>Essen 2019</a></h2>
            <!-- Data -->
            <p>Written by <a><strong>Kristine Eide</strong></a>, 31/10/2019</p>
          </div>
          <!-- Card content -->
          <!-- Card image -->
          <div class="view view-cascade overlay">
            <div class="image card-img-top"></div>
            <!-- <img class="card-img-top" src="../../../assets/images/essen-cover.svg" alt="Frode and Kristine in Essen"> -->

              <div class="mask rgba-white-slight"></div>


          </div>
          <div class="mt-5 card-body card-body-cascade">


          <h2 class="h2-responsive font-weight-bold text-center my-5"><a>Essen 2019</a></h2><br>
          <p class="lead grey-text w-responsive mx-auto mb-5">
            Frode and Kristine have come home from our first SPIEL representing Go to Pieces Games, and what a week!
            Go to Pieces Games is a member of the Norwegian Tabletop Game Publishers Association <a href="http://www.norwaytabletop.weebly.com">www.norwaytabletop.weebly.com </a>
            and at this SPIEL we shared a booth with other Norwegian Indie Publishers.   <br><br>

            On Wednesday we used most of the day building our booth.
            It was a wonderful experience to be in the fair the day before the big day.
            The atmosphere was great, although a bit hectic as everyone was driving around, putting things together and unpacking big boxes,
            but there were also some time to have a look around and meet new people.
            <br><br>
            <div class="row">
              <div class="col-12">
                <!-- Card -->
                <div class="card m-0 m-lg-4">
                    <!-- Card image -->
                    <img class="card-img-top" src="../../../assets/images/essen3.svg" alt="Card image cap">
                    <!-- Card content -->

                </div>
                <!-- Card -->
              </div>
            </div>


              <br><br>
              <p class="lead grey-text w-responsive mx-auto">
                  During the evening we attended Daniel Zayas´ Halloween themed social mixer. One of the best things regarding the board game community is its people.
                  People are so open, positive and outgoing and this event was a great way to meet other people in the industry.
                  We shared a demo table at the booth with Equity Board game and Viking Jarl. Thursday, Friday and Saturday we had a 3 – 4 hour session each day were
              we got to show and demo Fjordar for the international crowd.
              </p>
              <br><br>
              <div class="row">
                <div class="col-12">
                  <!-- Card -->
                  <div class="card m-0 m-lg-4">
                      <!-- Card image -->
                      <img class="card-img-top" src="../../../assets/images/essen5.svg" alt="Card image cap">
                      <!-- Card content -->
                      <div class="card-body">

                        <!-- Text -->
                        <p class="card-text">Gotopiecesgames and SB Games.</p>
                      </div>
                  </div>
                  <!-- Card -->
                </div>
              </div>


                <br><br>

              <p class="lead grey-text w-responsive mx-auto">
                  SPIEL is the convention with the highest number of new releases. Kristine was therefore slightly worried that the crowds would not have time to
                  stop for only a demo, as everyone would be rushing to get the latest releases.
                  One thing we have gotten feedback on is that Fjordar has a great table presence and is a showstopper.
                  This was soon obvious as we constantly had people stopping to learn about the game, sign up for the e-mail list and take photos.
                  We even had several people how wanted to play the whole game.
              </p>
              <br><br>

              <div class="row">
                <div class="col-12 col-sm-12 col-lg-4">
                    <!-- Card -->
                  <div class="card">
                      <!-- Card image -->
                      <img class="card-img-top" src="../../../assets/images/essen2.svg" alt="Card image cap">
                      <!-- Card content -->
                      <div class="card-body">
                        <!-- Title -->
                        <h4 class="card-title"><a>Vital Lacerda</a></h4>
                        <!-- Text -->
                        <p class="card-text">One of Kristine's favorite designers..</p>
                      </div>
                  </div>
                  <!-- Card -->
                      <br><br>

                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                    <!-- Card -->
                  <div class="card">
                      <!-- Card image -->
                      <img class="card-img-top" src="../../../assets/images/essen4.svg" alt="Card image cap">
                      <!-- Card content -->
                      <div class="card-body">
                        <!-- Title -->
                        <h4 class="card-title"><a>Our amazing stand</a></h4>
                        <!-- Text -->
                        <p class="card-text">We constantly had people stopping to learn about the game, sign up for the e-mail list and take photos.</p>
                      </div>
                  </div>
                  <!-- Card -->
                      <br><br>

                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                    <!-- Card -->
                  <div class="card">
                      <!-- Card image -->
                      <img class="card-img-top" src="../../../assets/images/essen19.svg" alt="Card image cap">
                      <!-- Card content -->
                      <div class="card-body">
                        <!-- Title -->
                        <h4 class="card-title"><a>On the cover</a></h4>
                        <!-- Text -->
                        <p class="card-text">Thanks to the Norwegian Tabletop game Publishers association for the cover of the catalogue fall 2019.</p>
                      </div>
                  </div>
                  <!-- Card -->
                      <br><br>
                </div>
              </div>
              <p class="lead grey-text w-responsive mx-auto">Sunday was used to talking to talking to possible manufacturers.
                  As we only had one demo session per day, we also had time to walk around to try other games,
                  hang with new and old friends, do some shopping and eat German fast food.</p>

              <br><br>
              <div class="row">
                <div class="col-12">
                  <!-- Card -->
                  <div class="card m-0 m-lg-4">
                      <!-- Card image -->
                      <img class="card-img-top" src="../../../assets/images/essen6.svg" alt="Card image cap">
                      <!-- Card content -->
                      <div class="card-body">
                        <!-- Title -->
                        <h4 class="card-title"><a>See you in Essen 2020</a></h4>
                        <!-- Text -->
                        <p class="card-text">Gotopiecesgames crew and fiends had a good time in Essen.</p>
                      </div>
                  </div>
                  <!-- Card -->
                </div>
              </div>
                <br><br>



            <br><br>





            </div>
















            <div class="lead grey-text w-responsive mx-auto mb-5">














          <div>
              <h4 class="font-weight-bold">What was the best experience at this years SPIEL?</h4><br>
              <p class="lead"><b>Frode: </b>The best thing was definitely watching how much people enjoyed playing Fjordar.
                One of my favourite things to do during SPIEL is hanging in the hotel conference room in the evenings,
                play games, punch games, have some beers, meet friends and look at the new buys.</p>

              <p class="lead"><b>Kristine: </b>I 100 % agree with what Frode said. I would also like to mention
                that it was so nice meeting Vital Lacerda, as he is one of my favourite designers. It was also so nice to see again all the
                people you normally only meet a few times a year at board game conventions.</p><br><br>
              <h4 class="font-weight-bold">What were the 3 best games at SPIEL?</h4><br>
              <p class="lead"><b>Frode: </b>Terramarra, Tiny Towns and Fuji Koro.
              </p>
              <p class="lead"><b>Kristine: </b>Tiny Towns is probably my best buy. I also enjoyed The Magnificent and Twelve heroes (best 5 euros spent ever!).
                I would also like to mention Escape Plan, but I have not had a chance to get it on the table yet.</p>



          </div>




          </div>
          <!-- Card -->




   <!-- Excerpt -->


        </div>


      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->



  </section>
  <!-- Section: Blog v.4 -->

</div>
