<!-- Section: Team v.1 -->
<section class="team-section text-center my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5">Our amazing team</h2>
    <!-- Section description -->
    <p class="grey-text w-responsive mx-auto mb-5 font-size-13">Go To Pieces Games was founded april 2019 and will launch its first board game, Fjordar, in 2020.</p>

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <img src="/assets/images/tale.svg" class="rounded-circle z-depth-1"
            alt="Sample avatar" style="width: 50%; height: auto;">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Tale Halsør</h5>
        <p class="text-uppercase blue-text"><strong>Economy and Administration</strong></p>
        <p class="grey-text">Started by being elected to the student board at the age of 8. Continuously trapped as a board member in countless organisations and associations.</p>
        <p>tale@gotopieces.com</p>
        <ul class="list-unstyled mb-0">
          <!-- Facebook -->
          <a class="p-2 fa-lg fb-ic" href="https://www.facebook.com/taleseverina">
            <i class="fab fa-facebook-f blue-text"> </i>
          </a>
          <!-- Instagram -->
          <a class="p-2 fa-lg ins-ic" href="https://www.instagram.com/boardgames_and_dirty_hands/">
            <i class="fab fa-instagram blue-text"> </i>
          </a>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <img src="/assets/images/frode.svg" class="rounded-circle z-depth-1"
            alt="Sample avatar" style="width: 50%; height: auto;">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Frode Brændø</h5>
        <p class="text-uppercase blue-text"><strong>Game Designer & Art Director</strong></p>
        <p class="grey-text">Started his career drawing sci-fi cartoons at the age of 4. Has been creating motion graphics for major TV-channels for almost 20 years.</p><br>
        <p>frode@gotopieces.com</p>
        <ul class="list-unstyled mb-0">
          <!-- Facebook -->
          <a class="p-2 fa-lg fb-ic" href="https://www.facebook.com/profile.php?id=751315990">
            <i class="fab fa-facebook-f blue-text"> </i>
          </a>
          <!-- Instagram -->
          <a class="p-2 fa-lg ins-ic" href="https://www.instagram.com/houseofcardboards/">
            <i class="fab fa-instagram blue-text"> </i>
          </a>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-md-0 mb-5">
        <div class="avatar mx-auto">
          <img src="/assets/images/kristine.svg" class="rounded-circle z-depth-1"
            alt="Sample avatar" style="width: 50%; height: auto;">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Kristine Eide</h5>

        <p class="text-uppercase blue-text"><strong>Marketing & Communication</strong></p>
        <p class="grey-text">A passionate ambassador for epic adventures. Speaks Spanish both breathing in and breathing out, and has been working many years in tourism.</p><br>
        <p>kristine@gotopieces.com</p>
        <ul class="list-unstyled mb-0">
          <!-- Facebook -->
          <a class="p-2 fa-lg fb-ic" href="https://www.facebook.com/kristine.eide.18">
            <i class="fab fa-facebook-f blue-text"> </i>
          </a>
          <!-- Instagram -->
          <a class="p-2 fa-lg ins-ic" href="https://www.instagram.com/taakeduren/">
            <i class="fab fa-instagram blue-text"> </i>
          </a>

        </ul>




      </div>
      <!-- Grid column -->


    </div>
    <!-- Grid row -->

  </section>
  <!-- Section: Team v.1 -->
